# Node modules
node_modules/
frontend/node_modules/

# Build output
# dist/
# frontend/dist/

# Local env files
.env
.env.*

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
